USE [master]
GO
/****** Object:  Database [DBTakip]    Script Date: 12.10.2021 00:10:35 ******/
CREATE DATABASE [DBTakip] ON  PRIMARY 
( NAME = N'DBTakip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBTakip.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBTakip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBTakip_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTakip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTakip]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12.10.2021 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kullanici] [nvarchar](20) NULL,
	[Sifre] [nvarchar](20) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmanlar]    Script Date: 12.10.2021 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmanlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Departman_Ad] [nvarchar](50) NULL,
 CONSTRAINT [PK_Departmanlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Firmalar]    Script Date: 12.10.2021 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Firmalar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Firma_Unvan] [nvarchar](50) NULL,
	[Yetkili] [nvarchar](50) NULL,
	[Telefon] [nvarchar](11) NULL,
	[Mail] [nvarchar](50) NULL,
	[Sektör] [nvarchar](30) NULL,
	[Adres] [nvarchar](50) NULL,
	[il] [nvarchar](13) NULL,
	[ilce] [nvarchar](20) NULL,
 CONSTRAINT [PK_Firmalar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GorevDetay]    Script Date: 12.10.2021 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GorevDetay](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gorev] [int] NULL,
	[Aciklama] [nvarchar](150) NULL,
	[Tarih] [date] NULL,
	[Saat] [char](5) NULL,
 CONSTRAINT [PK_GorevDetay] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gorevler]    Script Date: 12.10.2021 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorevler](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gorev_Veren] [int] NULL,
	[Gorev_Alan] [int] NULL,
	[Aciklama] [nvarchar](150) NULL,
	[Durum] [bit] NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_Gorevler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 12.10.2021 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Mail] [nvarchar](50) NULL,
	[Telefon] [nvarchar](11) NULL,
	[Gorsel] [nvarchar](50) NULL,
	[P_Departman] [int] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GorevDetay]  WITH CHECK ADD  CONSTRAINT [FK_GorevDetay_Gorevler] FOREIGN KEY([Gorev])
REFERENCES [dbo].[Gorevler] ([ID])
GO
ALTER TABLE [dbo].[GorevDetay] CHECK CONSTRAINT [FK_GorevDetay_Gorevler]
GO
ALTER TABLE [dbo].[Gorevler]  WITH CHECK ADD  CONSTRAINT [FK_Gorevler_Personel] FOREIGN KEY([Gorev_Veren])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[Gorevler] CHECK CONSTRAINT [FK_Gorevler_Personel]
GO
ALTER TABLE [dbo].[Gorevler]  WITH CHECK ADD  CONSTRAINT [FK_Gorevler_Personel1] FOREIGN KEY([Gorev_Alan])
REFERENCES [dbo].[Personel] ([ID])
GO
ALTER TABLE [dbo].[Gorevler] CHECK CONSTRAINT [FK_Gorevler_Personel1]
GO
ALTER TABLE [dbo].[Personel]  WITH CHECK ADD  CONSTRAINT [FK_Personel_Departmanlar] FOREIGN KEY([P_Departman])
REFERENCES [dbo].[Departmanlar] ([ID])
GO
ALTER TABLE [dbo].[Personel] CHECK CONSTRAINT [FK_Personel_Departmanlar]
GO
USE [master]
GO
